// Variables here are replaced post compile back to their original variable name
// NOTE: You must also add these to the tf-sass-variable-replace.js file 

$siteAccentColor: 'siteAccentColor';
$bodyFontColor: 'bodyFontColor';
$mainNavigationSelectedBackgroundColor: 'mainNavigationSelectedBackgroundColor';
$mainNavigationNormalFontColor: 'mainNavigationNormalFontColor';
$mainNavigationSelectedFontColor: 'mainNavigationSelectedFontColor';
$buttonBackgroundColor: 'buttonBackgroundColor';
$buttonOverBackgroundColor: 'buttonOverBackgroundColor';
$highImportanceLinkColor: 'highImportanceLinkColor';
