{
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "no-unused-vars": [2, {"vars": "local", "args": "after-used", "argsIgnorePattern": "^_"}], /*argIgnorePattern allows for the arg to be in the def but identifies it as not being used*/
        "comma-dangle": 0,
        "eqeqeq": [2, "smart"],
        "curly": [2],
        "brace-style": [2],
        "no-console": [1],
        "no-eval": [1],
        "no-undef": [2],
        "no-self-assign": [2, {"props": true}],       
        "keyword-spacing": "error",
        "arrow-spacing": "error",
        "space-before-blocks": "error",
        "no-invalid-this" : 0,        
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/no-explicit-any": 0
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser" : "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 2018,       
        "sourceType": "module"          
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "globals": {
        "$": true,
        "L": true, //leaflet
        "jQuery": true,
        "CKEDITOR": true,
        "grunt": true,
        "escape": true,
        "unescape": true,
        "tf": true,
        "process": true, // grunt requires process.env / process.argv
        "console": true,
        "require": true, // require/module etc can be recognised if we set { env: { node: true } }, but then that breaks global components
        "module": true,
        "moment": true,
        "React": true,
        "ReactDOM": true,
        "PropTypes": true,
        "createReactClass": true,
        "__session": true,
        "__appConfig": true,
        "__config": true,
        "__i18n": true,
        "__navigation": true,
        "__intranet_statistics": true,
        "__rootContentIds": true,
        "__administrator": true,
        "__initialPortlets": true,
        "__webfontsUrl": true,
        "page": true,
        "Dispatcher": true,
        "confirm": true,
        "_": true, //lodash
        "Cropper": true, //lodash
        "gapi": true, //google api in platform.js
        "orgchart": true,
        "MicrosoftGraph": true, //microsoft graph client
        "hello": true, //hello js
        "Resumable":true,
        "AuthenticationContext": true, //adal.js azure-activedirectory-library-for-js

        // TweenLite (including common ease globals)
        "TweenLite": true,
        "Power0": true,
        "Power1": true,
        "Power2": true,
        "Power3": true,
        "Power4": true,

        "alert": true,
        "Piwik": true, //intranet statistics
        "Pikaday": true,
        "Favico": true,
        "ActiveXObject": true, //used for the sharepoint connector edit document plugin

        //react components
        "ProxyComponent": true,
        "Button": true,
        "ButtonList": true,
        "LinkButton": true,
        "AddPageBtn": true,
        "LikeBtn": true,
        "LikeButtonIconOnly": true,
        "LikeButtonIconAndText": true,
        "MiniProfile": true,
        "AutoCompleteInput": true,
        "AutoCompleteUsersInput": true,
        "AutoCompleteSecurityItemsInput": true,
        "TagAutoCompleteInput": true,
        "PageHeaderLikeBtnView": true,
        "FileViewerLikeBtnView": true,
        "NewsListLikeBtnView": true,
        "DefaultLikeBtnView": true,
        "EditPageBtn": true,
        "EditPageModal": true,
        "DeletePageBtn": true,
        "DeletePageModal": true,
        "NewsItem": true,
        "ArchivePageBtn": true,
        "MovePageBtn": true,
        "MovePageModal": true,
        "MovePageTreeNode": true,
        "DuplicatePageBtn": true,
        "ReorderNavigationBtn": true,
        "ReorderFilesBtn": true,
        "SecuritySettingsBtn": true,
        "SecuritySettingsModal": true,
        "SecuritySettingsItem": true,
        "ApplicationRootView": true,
        "ApplicationRootViewWrapper": true,
        "LoadingIndicator": true,
        "ModalPanel": true,
        "ProfilePhoto": true,
        "UserList": true,
        "PageStructure": true,
        "PasswordExpiryWarning": true,
        "ErrorView": true,
        "HomeView": true,
        "SearchView": true,
        "ContentView": true,
        "FollowingView": true,
        "NotificationsHistoryView": true,
        "ExternalLinkView": true,
        "SiteMessages": true,
        "SiteToolbar": true,
        "SiteToolbarBookmarksHistoryPanel": true,
        "SiteToolbarUserPanel": true,
        "SiteToolbarAlertsPanel": true,
        "SiteToolbarLockedFilesPanel": true,
        "SiteToolbarGroupsPanel": true,
        "SiteHeader": true,
        "SiteNavigation": true,
        "SiteFooter": true,
        "NotificationItem": true,
        "NotificationItemIcon": true,
        "MentionItem": true,
        "DetailedDirectoryNavigationChild": true,
        "Poll": true,
        "ArchiveBadge": true,
        "NewBadge": true,
        "PrivateBadge": true,
        "UpdatedBadge": true,
        "FutureBadge": true,
        "EditBadge": true,
        "InactiveBadge": true,
        "PageTypeIcon": true,
        "LinkIcon": true,
        "EllipsisIcon": true,
        "CancelEditingIcon": true,
        "CalendarFilterCard": true,
        "ForumFilterCard": true,
        "GroupFilterCard": true,
        "NewsBlogFilterCard": true,
        "PeopleFilterCard": true,
        "SectionFilterCard": true,
        "FollowingFilterCard": true,
        "CommentQuote": true,
        "SingleComment": true,
        "AddCommentForm": true,
        "EditCommentForm": true,
        "ExportPageButton": true,
        "ExportPageToWordButton": true,
        "ExportPageToPdfButton": true,
        "ExportPageToExcelButton": true,
        "LayoutEditor": true,
        "LayoutEditorPortletSelectMenu": true,
        "LanguagePicker": true,
        "ReactGridLayout": true,
        "EmailPageButton": true,
        "NewsListItem": true,
        "NewsList": true,
        "NewsGrid": true,
        "NewsGridItem": true,
        "GridNavigation": true,
        "GridNavigationItem": true,
        "CompactDirectoryNavigation": true,
        "CompactDirectoryEntry": true,
        "CompactDirectoryEntryChild": true,
        "PageControls": true,
        "SocialActions": true,
        "Tabs": true,
        "Draggable": true,
        "LayoutEditorGrid": true,
        "GridItemLikeBtn": true,
        "NewsHeader": true,
        "LayoutConfigEditor": true,
        "PortletConfigFactory": true,
        "LayoutPicker": true,
        "ConfirmTemplateChangeModal": true,
        "SiteModals": true,
        "FeedPortletConfig": true,
        "CarouselFeedPortletConfig": true,
        "CarouselFeedPortletConfigPanel": true,
        "CommentPortletConfig": true,
        "DocumentLibraryPortletConfig": true,
        "RichTextPortletConfig": true,
        "RichTextPortletConfigPanel": true,
        "PhotoGalleryPortletConfig": true,
        "PhotoGalleryPortletConfigPanel": true,
        "QuickLinksPortletConfig": true,
        "QuickLinksPortletConfigPanel": true,
        "ForumTopicDetailsPortletConfig": true,
        "MiniCalendarPortletConfig": true,
        "MiniCalendarPortletConfigPanel": true,
        "DetailedDirectoryPortletConfig": true,
        "DetailedDirectoryPortletConfigPanel": true,
        "CustomPortletConfig": true,
        "CustomPortletConfigPanel": true,
        "RteField": true,
        "GroupDetails": true,
        "GroupMembers": true,
        "GroupMemberList": true,
        "GroupMember": true,
        "ExternalGroupMembers": true,
        "ExternalGroupMember": true,
        "InfoPanel": true,
        "ChangeOwnerModal": true,
        "SecurityPanel": true,
        "GroupAddress": true,
        "SecurityPanelItem": true,
        "CommentLikeBtnView": true,
        "Map": true,
        "ProfilePhotoSmall": true,
        "ProfilePhotoMedium": true,
        "ProfilePhotoMediumGroup": true,
        "ProfilePhotoLarge": true,
        "ProfilePhotoExtraLarge": true,
        "PhotoGalleryImageModal" : true,
        "PreviewModal" : true,
        "NewsListItemLikeBtn": true,
        "FilterCardItem": true,
        "FilterCardList": true,
        "FilterCardSection": true,
        "FilterCardSectionTags": true,
        "FilterCardSectionFind": true,
        "GeneralFilterCard": true,
        "CommentRTE": true,
        "Comments": true,
        "FullCalendar": true,
        "CalendarEventPopup": true,
        "CreateCalendarEvent": true,
        "BookmarkPageButton": true,
        "MicroBlogComment": true,
        "MicroBlogUser": true,
        "MicroBlogUserActivity": true,
        "MicroBlogStatusUpdate": true,
        "MicroBlogUserDateGrouping": true,
        "MicroBlogProfilePic": true,
        "MicroBlogForm": true,
        "MicroBlog": true,
        "FileDeleteModal": true,
        "CloseBtn": true,
        "LeftArrowBtn": true,
        "RightArrowBtn": true,
        "PageStructureIcon": true,
        "PortletIcon": true,
        "LayoutConfigEditorPanel": true,
        "SocialShareBtn": true,
        "TreeNavIcon": true,
        "BookmarkButton": true,
        "NewsBlogPostFilterCard": true,
        "FollowPageButton": true,
        "FollowingUserListModal": true,
        "ToggleCultureButton": true,
        "LayoutConfigEditorHome": true,
        "SuperNavPortletConfig": true,
        "DropdownMenu": true,
        "SortableTable": true,
        "FileTypeIcon": true,
        "FileTypeIconLarge": true,
        "FileUploader": true,
        "FileUploaderForm": true,
        "ReplaceFileUploader": true,
        "PhotoGalleryReorderImagesModal": true,
        "DocumentVersionModal": true,
        "DocumentPreview": true,
        "DocumentPreviewNotSupported": true,
        "NewsBlogNewsItem": true,
        "PaginationStepper": true,
        "PaginationStepperRows": true,
        "PaginationNumeric": true,
        "PaginationNumericByRow": true,
        "FilterCardRecentPosts": true,
        "FilterCardDateRollup": true,
        "CultureInfoWarningMessage": true,
        "NewsBlogBlogItem": true,
        "ForumItem": true,
        "ForumTopicReplies": true,
        "ForumTopicAttachment": true,
        "SearchFilterCard": true,
        "SearchSorting": true,
        "ArchivedSearchItemCount": true,
        "NewsCarousel": true,
        "PageBody": true,
        "PageMessages": true,
        "ReturnToLink": true,
        "AttachmentList": true,
        "MailingListThreadReplies": true,
        "UsersBookmarkDropdown": true,
        "CalendarSubscribeModal": true,
        "CalendarDetailsPortletConfig": true,
        "GroupDiretoryFilterCard": true,
        "GroupDirectoryItem": true,
        "Tag": true,
        "TagList": true,
        "TagListModal": true,
        "EditTagsModal": true,
        "MicroBlogStatusUpdateComment": true,
        "MicroBlogStatusUpdateActions": true,
        "MicroBlogCommentActions": true,
        "MicroBlogCommentContentActions": true,
        "MicroBlogTabs": true,
        "MicroBlogStatusUpdateCommentForm": true,
        "FilterCardEmployeeDirectoryLastName": true,
        "FilterCardEmployeeDirectoryCustomFields": true,
        "FilterCardEmployeeDirectoryGroupTypes": true,
        "FilterCardEmployeeDirectoryGroupType": true,
        "FilterCardSearchInput": true,
        "InfoIcon": true,
        "DesktopConnectorControls": true,
        "DesktopConnectorTourModal": true,
        "DesktopConnectorTourInstallSlide": true,
        "MicroBlogLoadMore": true,
        "MicroBlogTabExtraOptions": true,
        "MicroBlogYourGroupsExtraOptions": true,
        "SearchFacets": true,
        "SearchCounts": true,
        "SearchSortingAndPaging": true,
        "ProfileSearchResult": true,
        "EventSearchResult": true,
        "PhotoGallerySearchResult": true,
        "GroupSearchResult": true,
        "FolderSearchResult": true,
        "FileSearchResult": true,
        "CommentSearchResult": true,
        "MicroBlogUpdateSearchResult": true,
        "DefaultSearchResult": true,
        "SearchItemPageTypeAndBadgeList": true,
        "SearchItemTitle": true,
        "SearchItemTreePathAndDate": true,
        "ProfilePhotoSearch": true,
        "SearchItemProfileTitle": true,
        "AppSearch": true,
        "DatePicker": true,
        "TranslateIcon": true,
        "DocumentLibrary": true,
        "DocumentLibraryNode": true,
        "NewFolderModal": true,
        "RenameFolderModal": true,
        "CalendarSearchResult": true,
        "SearchItemCalendarIcon": true,
        "MicroBlogFormProfile": true,
        "LinkSearchResult": true,
        "SearchItemLinkTitle": true,
        "ReorderNavigationModal": true,
        "VCardIcon": true,
        "AddFolderIcon": true,
        "AddFileIcon": true,
        "GroupDirectoryFilterCard": true,
        "SearchInput": true,
        "MicroBlogNewActivity": true,
        "ReadMoreTextArea": true,
        "LicenseLimitsWarning": true,
        "ContentBanner": true,
        "LocationPortletConfig": true,
        "LocationPortletConfigPanel": true,
        "RelationshipBrowser": true,
        "ContentHeader": true,
        "PortletRenderer": true,
        "VersionHistory": true,
        "VersionListItem": true,
        "FollowingList": true,
        "FollowingListItem": true,
        "ConfirmUnfollowModal": true,
        "NotificationsHistory": true,
        "NotificationsHistoryItem": true,
        "ChangePasswordView": true,
        "PasswordPolicy": true,
        "PasswordStrength": true,
        "IntranetStatistics": true,
        "AddEditIntranetStatistics": true,
        "PreviewModalIntranetStatistics": true,
        "EmailModal": true,
        "QuoteList": true,
        "QuoteAddForm": true,
        "QuoteListRow": true,
        "QuoteRootView": true,
        "ContentEditableTextarea": true,
        "HomepageControls": true,
        "SecurityProfileMembersModal": true,
        "Invitation": true,
        "AddContentView": true,
        "EditContentView": true,
        "EditContentFields": true,
        "LockedForEditing": true,
        "EditContentPageTitle": true,
        "EditContentPageBody": true,
        "EditContentPageControls": true,
        "EditContentSecuritySettings": true,
        "EditContentChangeOwner": true,
        "EditContentAbbreviatedTitle": true,
        "EditContentArchiveDate": true,
        "EditContentPageSummary": true,
        "EditContentPageSummaryRte": true,
        "EditContentPageSummaryInline": true,
        "EditContentFileName": true,
        "CollapsableContainer": true,
        "SuperNav": true,
        "SuperNavBreadcrumb": true,
        "SuperNavChild": true,
        "FilterCard": true,
        "RssLinks": true,
        "ColorPicker": true,
        "LinkBrowserModal": true,
        "ImageBrowser": true,
        "ImageBrowserBrowseTab": true,
        "LinkBrowser": true,
        "LinkBrowserInternalTab": true,
        "LinkBrowserExternalTab": true,
        "LinkBrowserRecentTab": true,
        "LinkBrowserMailTab": true,
        "LinkBrowserTabSelectUi": true,
        "LinkBrowserTreenav": true,
        "LinkBrowserFooter": true,
        "EditContentNavigationToggle": true,
        "EditContentPageLocation": true,
        "TreePath": true,
        "EditContentOwnerLockSettings": true,
        "EditContentTags": true,
        "RichtextField": true,
        "RichTextContent": true,
        "EditContentNewsBlogSettings": true,
        "EditContentForumSettings": true,
        "EditContentPostSettings": true,
        "EditContentCulturePicker": true,
        "EditContentPageType": true,
        "EditContentCalendarEventSettings": true,
        "TimePicker": true,
        "EditContentCalendarEventRepeatingModal": true,
        "EditContentCalendarEventSummary": true,
        "EditContentFeaturedImage": true,
        "EditContentPageHeader": true,
        "EditContentPageHeaderImage": true,
        "PageTemplatePicker": true,
        "EditContentPollSettings": true,
        "EditContentLinkSettings": true,
        "EditContentGroupSettings": true,
        "EditContentMailingListSettings": true,
        "ImageBrowserModal": true,
        "FeaturedImageSettingsModal": true,
        "ImageCropper": true,
        "SelectBox": true,
        "ManageGroupMembersModal": true,
        "AutoCompleteGroupMembersInput": true,
        "AutoCompleteExternalGroupsInput": true,
        "ExternalGroupItem": true,
        "EditContentCalendarSettings": true,
        "EditContentCalendarEventTypesModal": true,
        "ActiveDirectoryGroupPicker": true,
        "ToolTipElement": true,
        "ToolTipController": true,
        "PageTypeDescriptionModal": true,
        "EditContentTranslateButton": true,
        "DuplicatePageConfirmModal": true,
        "BookmarkManager": true,
        "BookmarkPageTypeIcon": true,
        "BookmarkItem": true,
        "UnfollowFromEmailView": true,
        "ChangePasswordButton": true,
        "ToggleControl": true,
        "CustomPortletContainer": true,
        "PrivatePages": true,
        "ViewActivityBtn": true,
        "ActivityHistoryModal": true,
        "TabbedContainer": true,
        "SortMenu": true,
        "TreeNavItem": true,
        "EditPageLoggedOutMessage": true,
        "SharePointDocumentLibraryBreadcrumbs": true,
        "SharePointDocumentLibraryTable": true,
        "SharePointDocumentLibraryFolderPath": true,
        "SharePointDocumentLibraryFile": true,
        "SharePointDocumentLibraryFolder": true,
        "SharePointDocumentLibraryOther": true,
        "SharePointDocumentLibraryBreadcrumb": true,
        "SharePointDocumentLibraryNextPrevious": true,
        "SharePointDocumentLibraryAddItems": true,
        "SharePointDocumentLibraryDeleteFileModal": true,
        "Chart": true,

        "diff_match_patch": true,
        "DIFF_EQUAL": true,
        "DIFF_INSERT": true,
        "DIFF_DELETE": true,


        "tfc": true,
        "ctx": true,
        "replaceView": true,
        "portletId": true,
        "portletConfig": true,
        "portletConfigurationId": true,
        "portletCss": true,
        "portletServerResponse": true
    }
}
